/RabbitMQ.Producer/.vs
/RabbitMQ.Consumer/.vs
/RabbitMQ.Consumer/.vs
/RabbitMQ.Consumer/obj
/RabbitMQ.Producer/obj
/RabbitMQ.Producer/obj
/RabbitMQ.Producer/obj
/RabbitMQ.Producer/obj
/RabbitMQ.Producer/obj
/RabbitMQ.Producer/obj
/RabbitMQ.Producer/obj
/RabbitMQ.Producer/obj
/RabbitMQ.Producer/obj
/RabbitMQ.Consumer/obj/Debug
