/RabbitMQ.Producer/.vs
/RabbitMQ.Consumer/.vs
/RabbitMQ.Consumer/.vs
/RabbitMQ.Consumer/obj
/RabbitMQ.Producer/obj
/RabbitMQ.Producer/obj
/RabbitMQ.Producer/obj
/RabbitMQ.Producer/obj
/RabbitMQ.Producer/obj
/RabbitMQ.Producer/obj
/RabbitMQ.Producer/obj
/RabbitMQ.Producer/obj
/RabbitMQ.Producer/obj
/RabbitMQ.Consumer/obj/Debug
/RabbitMQ.Producer/.vs
/RabbitMQ.Consumer/.vs
/RabbitMQ.Producer/obj
/RabbitMQ.Producer/obj/Debug/net8.0
/RabbitMQ.Producer/obj/Debug
/RabbitMQ.Producer/obj
/RabbitMQ.Producer/obj/Debug/net8.0/ref
/RabbitMQ.Consumer/.vs/RabbitMQ.Consumer
/RabbitMQ.Consumer/.vs/RabbitMQ.Consumer
/RabbitMQ.Consumer/.vs/RabbitMQ.Consumer/v17
/RabbitMQ.Consumer/.vs/RabbitMQ.Consumer/DesignTimeBuild
/RabbitMQ.Consumer/bin
/RabbitMQ.Consumer/bin/Debug
/RabbitMQ.Consumer/bin/Debug/net8.0
RabbitMQ.Consumer/.vs/RabbitMQ.Consumer/v17/.suo
RabbitMQ.Consumer/.vs/RabbitMQ.Consumer/v17/DocumentLayout.backup.json
RabbitMQ.Consumer/.vs/RabbitMQ.Consumer/v17/DocumentLayout.json
RabbitMQ.Consumer/bin/Debug/net8.0/RabbitMQ.Consumer.dll
RabbitMQ.Consumer/bin/Debug/net8.0/RabbitMQ.Consumer.exe
RabbitMQ.Consumer/bin/Debug/net8.0/RabbitMQ.Consumer.pdb
RabbitMQ.Consumer/obj/Debug/net8.0/apphost.exe
RabbitMQ.Consumer/obj/Debug/net8.0/RabbitMQ.Consumer.AssemblyInfo.cs
RabbitMQ.Consumer/obj/Debug/net8.0/RabbitMQ.Consumer.AssemblyInfoInputs.cache
RabbitMQ.Consumer/obj/Debug/net8.0/RabbitMQ.Consumer.csproj.CoreCompileInputs.cache
RabbitMQ.Consumer/obj/Debug/net8.0/RabbitMQ.Consumer.dll
RabbitMQ.Consumer/obj/Debug/net8.0/RabbitMQ.Consumer.pdb
RabbitMQ.Consumer/obj/Debug/net8.0/ref/RabbitMQ.Consumer.dll
RabbitMQ.Consumer/obj/Debug/net8.0/refint/RabbitMQ.Consumer.dll
RabbitMQ.Producer/.vs/RabbitMQ.Producer/v17/.suo
RabbitMQ.Producer/.vs/RabbitMQ.Producer/v17/DocumentLayout.backup.json
RabbitMQ.Producer/.vs/RabbitMQ.Producer/v17/DocumentLayout.json
RabbitMQ.Producer/bin/Debug/net8.0/RabbitMQ.Producer.dll
RabbitMQ.Producer/bin/Debug/net8.0/RabbitMQ.Producer.exe
RabbitMQ.Producer/bin/Debug/net8.0/RabbitMQ.Producer.pdb
RabbitMQ.Producer/obj/Debug/net8.0/apphost.exe
RabbitMQ.Producer/obj/Debug/net8.0/RabbitMQ.Producer.AssemblyInfo.cs
RabbitMQ.Producer/obj/Debug/net8.0/RabbitMQ.Producer.AssemblyInfoInputs.cache
RabbitMQ.Producer/obj/Debug/net8.0/RabbitMQ.Producer.csproj.CoreCompileInputs.cache
RabbitMQ.Producer/obj/Debug/net8.0/RabbitMQ.Producer.dll
RabbitMQ.Producer/obj/Debug/net8.0/RabbitMQ.Producer.pdb
RabbitMQ.Producer/obj/Debug/net8.0/ref/RabbitMQ.Producer.dll
RabbitMQ.Producer/obj/Debug/net8.0/refint/RabbitMQ.Producer.dll
